[submodule "https:/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@github.com/zwer5246/MediaServer-Server"]
	path = https:/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@github.com/zwer5246/MediaServer-Server
	url = https://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@github.com/zwer5246/MediaServer-Shared
