################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/
/obj
.idea/
Shared.Core/bin/
Shared.Core/obj/
Shared.Core/.idea
Shared.Parsers/bin/
Shared.Parsers/obj/
Shared.Parsers/.idea/
Shared.Tests/.idea
Shared.Tests/bin/
Shared.Tests/obj/
Shared.Tests/.idea
