################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/
/obj
.idea/
Shared.Core/bin/
Shared.Core/obj/
Shared.Core/.idea
